.header {
    padding: 17px 0;
    &__container {
        align-items: center;
        justify-content: space-between;
    }

    &--position {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

}

.nav {
    align-items: center;
    padding-right: 16px;

    &__list {
        align-items: center;
        margin-right: 32px;
        gap: 51px;

        @include small-tablet {
            margin-right: 0;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &:focus {
        outline: none;
    }

    &__link {
        transition: color 0.3s ease-in-out;
        font-size: var(--main-size);
        color: var(--light-color);
        @include hover {
            color: var(--accent-color);
        }
    }

    &:active {
        color: var(--active-color);
    }

    @include small-tablet {
        font-size: 16px;
        padding: 32px;
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        z-index: 100;
        overflow-y: auto;
        background-color: #001414;
        visibility: hidden;

        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        // display: none;
    }

    @include small-tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 51px;
    }
}

.nav__link.focus-visible {
    outline: 1px solid var(--active-color);
    outline-offset: 3px;
}

.nav.menu--active {
    visibility: visible;
    transform: none;
}
