.where {
    padding-top: 155px;
    padding-bottom: 133px;
    background-color: #001F1F;
    color: var(--light-color);

    &__content {
        grid-column: 4 span;

        @include small-tablet {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 43px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 1.2px;
        color: #FAFAFA;
    }

    &__desc {
        margin: 0;
        margin-bottom: 37px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FAFAFA;
    }

    &__btn {
        background: #00665F;
        border: none;
    }

    &__map {
        grid-column: 7 / 5 span;

        @include small-tablet {
            grid-column: 4 span;

        }
    }
}