<section class="press">
    <div class="container">
        <div class="press__top">
            <h2 class="press__title">
                Recidiviz in the Press
            </h2>
            <a href="#" class="press__link btn">See All</a>
        </div>

        <ul class="list-reset press__list grid">
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--freet">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--time">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--asspress">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--ted">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--nyt">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
            <li class="press__item">
                <article class="press-card">
                    <div class="press-card__top">
                        <div class="press-card__author press-card__author--scoop">
                            Ted talks
                        </div>
                        <time class="press-card__date" datetime="2022-02-02">22.02.02</time>
                    </div>
                    <h3 class="press-card__title">
                        <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
                    </h3>
                </article>
            </li>
        </ul>
    </div>
</section>